html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#sidebar {
  display: block;
  width: 23%;
  height: 100%;
  max-width: 100%;
  float: left;
  padding: 0 10px 0 0;
}
#map {
  width: auto;
  height: 90%;
}


/*NAVBAR STYLES*/
.navbar-default {
    background-color: #403b3b;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #ffffff;
    color: #403b3b;
    border-radius: 10px;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.page-header h1{
    margin: 0 0 0 10px;
}

.container {
    width: 100%;
}

.ui.button {
  width: 100%;
}

.percent{
  display: none;
}

.btn-group{
  margin-left: 30%;
  margin-bottom: 10px;
}

button.ui.right.labeled.icon:focus{
    color: white;
}

